// _variables.scss
/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,700); */

$font-family-sans-serif: "Raleway","Helvetica Neue", Helvetica, Arial, sans-serif;

$body-bg:         #ffffff;
$brand-primary:   #1d7faf;
$brand-secondary: #d7a72d;
$brand-accent:    #e6d226;
$icon-font-path: '../fonts/';

$sidebar-width:  200px;
$sidebar-color:  #ffffff;