@import 'variables';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,body {
  height: 100%;
  #wrapper {
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
}
