extends layout

mixin experiment(url, header, description)
  .experiment.col-xs-4.text-center
    a(href=url)
      h5= header
      p
        small= description

block content
  .row
    .col-xs-12
      .jumbotron.text-center
        h1= title
        p.
          A laboratory of 3D on web.
  .row
    .col-xs-8.col-xs-offset-2
      .row
        +experiment('#', 'demo03', 'coming soon')
        +experiment('/particlesystem', 'particle system', 'particle system')
        +experiment('/timeline', 'timeline', 'display the timeline on 3d.')
