extends layout

block content
  .row
    .col-xs-12
      .jumbotron.text-center
        h1= title
        p.
          A laboratory of 3D on web.
  .row
    .col-xs-8.col-xs-offset-2
      .row
        .col-xs-4.text-center
          a(href='#')
            h5 demo03
            p
              small.
                something for description.
        .col-xs-4.text-center
          a(href='/particlesystem')
            h5 particle system
            p
              small.
                partcle system
        .col-xs-4.text-center
          a(href='/timeline')
            h5 timeline
            p
              small.
                display the timeline on 3d.
