extends layout3d

block content
  include shared/header3d
    block header_navi
      ul.nav.navbar-nav.navbar-right
        li
          a#timeline-help-popover
            i.fa.fa-question-circle

block javascripts
  != js('timeline')
