@import url(http://fonts.googleapis.com/css?family=Orbitron:400,500,700,900);
@default-bgcolor: #000;
@default-color:   #fff;
body {
  padding: 50px;
  font-family: 'Orbitron', 'sans-serif';
  font-weight: 400;
  font-size:   100%;
  background-color: @default-bgcolor;
  color: @default-color;
}

a {
  color: #00B7FF;
}
